$lightOrange: #FFCA08;
$darkOrange: #F57921;
$lightBlue: #ACCEEC;
$darkBlue: rgba(67, 60, 60, 0.632);
$background-image-path: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.rawpixel.com%2Fsearch%2Fbackground&psig=AOvVaw2hwYieJGYPlnP82QA8lR-H&ust=1700785105528000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPjRnbLs2IIDFQAAAAAdAAAAABAE"